DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DBNAME?schema=public"
BINANCE_BASE_URL="https://api.binance.com"
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""
SCAN_TOP_N="200"
SCAN_WINDOW_MINUTES="3"
SCAN_PUMP_PCT="5"
SCAN_DUMP_PCT="5"
SCAN_VOLUME_MULT="2"
SCAN_COOLDOWN_MINUTES="30"
SCAN_INTERVAL_SECONDS="60"